<html>
<head>
	<title>Inicio - SWEIS
		</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/inicio.css"/>
	
</head>
<body onload="">
	<script rel="stylesheet" type="text/javascript" src="../../js/inicio.js"></script>



	<div  id="banner" class="container-fluid">
		<div class="row">
			<div class="col-md-7 text-white text-center">
				<a href="https://ingsistemas.cloud.ufps.edu.co/"><img src="../../images/logo.png" class="d-block" alt='...' height="130px" width="130px"></div></a>
				<div id="fuente" class="col-md-5 mt-4 text-white text-center"><br>	
					<a href="/poblacion"><button type="button" onclick ="" class="btn text-white" style="font-family:Impact; font-size: 20px;">Poblaciones</button></a>			
					<a href="/inicio"><button type="button" onclick ="" class="btn text-white" style="font-family:Impact; font-size: 20px;">Catálogo de Encuestas</button></a>
						  <a href="#"><button type="button" class="btn text-white" style="font-family: Impact; font-size: 20px;">Mi cuenta</button></a>
					<a href="#"><img src="../../images/micuenta.png" class="align-right" alt='...' height="30px" width="30px"></a>
				</div>				
		</div>
	</div><br>


<div style="margin: 70px">
	<div  class="input-group mb-3" >
			  <input type="search" class="form-control" placeholder="Search" aria-describedby="basic-addon2"> 
			  <div class="input-group-append">
			    <button type="button" style="background-color:#e20319; font-size: 16px" class="btn text-white">Buscar</button>
			  </div>
			</div>
</div>

<%for(let i=0; i<encuestas.length;i++){%>
<div id="contenido" style="width:40%" >
	<div class="row"> 
		
			<div class="col-md-9"><a style="color:#e20319" href="encuestas/ver/<%=encuestas[i].id_encuesta%>">
				<label style=" font-family: Times-New-Roman;font-size: 22px; margin-left: 80px;"><b> Encuesta <%= encuestas[i].nombre%></b></label>
			</a></div>
		
			
		<div class="col-md-3">
			<div class="dropdown show" style="align-right">
				  <a class="btn dropdown-toggle" style="color:white" src="images/puntos.png" href="#" role="button" id="desplegable" data-toggle="dropdown" aria-haspopup="true"> 
				  	<img src="../images/puntos.png" class="align-right" height="25px" width="25px"></a>

					  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					    <button onclick="eliminar(<%= encuestas[i].id_encuesta %>)"><a class="dropdown-item" data-toggle="modal" href="#elimencuesta">Eliminar</a></button>
					    <button onclick="editarFechaCierre(<%= encuestas[i].id_encuesta %>)"><a class="dropdown-item" data-toggle="modal" href="#editarfecha">Editar fecha</a></button>
					    <a class="dropdown-item" href="#">Ver respuestas</a>
					    <a class="dropdown-item" href="#">Estadísticas</a>
					  </div>
					</div>
			</div><br>
	</div>
	<div class="row">
		<div class="col-md-9" >
			<label style="margin-left:6%" for=""><b>Feche de creación:</b> <%= encuestas[i].fecha_creación.toLocaleString().split(",")[0].split(" ")[0]%></label>
		<br>
		<label style="margin-left:6%" for=""><b>Feche de Publicación:</b> <%= encuestas[i].fecha_publicacion.toLocaleString().split(",")[0].split(" ")[0]%></label>
		<br>
		<label style="margin-left:6%" for=""><b>Feche de Cierre:</b> <%= encuestas[i].fecha_cierre.toLocaleString().split(",")[0].split(" ")[0]%></label>
	</div>
	</div>
</div><br><br>
<% } %> <br><br>

<div class="container">
	<div class="row">
	  <div class="col-md-11 text-right"  >
			  <a class="btn-flotante" href="/encuestas/add"><button id="redondo" style="background-color:#e20319" class="btn text-white"><h3>+</h3></button></a>
			</div>
	  </div>
  </div>



<div class="modal fade" id="elimencuesta" style="top:250px">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="model-header">
						<button tyle="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-left: 10px">&times;</button>
						<h6 class="modal-title" style="text-align: center">¿Seguro quiere eliminar esta encuesta?</h6>
						</div>
						<div class="modal-footer" style="text-align: center">
							<a href="/encuestas/elim/"><button type="button" style="background-color:#e20319; font-size:16px;" class="btn text-white">Eliminar Encuesta</button></a>
							<button type="button" style="background-color:#a19f9f" class="btn text-white" data-dismiss="modal">Cancelar</button>
						</div>
					</div>
				</div>
			</div>


<div class="modal fade" id="editarfecha" style="top:180px">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="model-header">
						<button tyle="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-left: 10px">&times;</button>
						<h3 class="modal-title" style="text-align: center">Editar Fecha</h3>
						</div>
						<div class="modal-footer" >
							<label>Fecha de Finalización</label>
							<input style="margin-right: 150px;" type="date" name="" style="border-color:#e20319;"><br>
							<a href="/encuestas/edit/"><button type="button" style="background-color:#e20319; font-size:16px;" class="btn text-white">Editar encuesta</button></a>
						</div>
					</div>
				</div>
			</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>
