<html>
	<head>
	<title>Poblaci칩n - SWEIS
		</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/inicio.css"/>
	
</head>
<body style='background-image: url("../images/fondo3.jpg");background-repeat: repeat-x;background-repeat: repeat-y;
background-size: 100%;'>
	<script rel="stylesheet" type="text/javascript" src="../../js/poblacion.js"></script>



	<div  id="banner" class="container-fluid">
		<div class="row ml-5">
			<div class="col-md-7 text-white text-center">
				<a href="https://ingsistemas.cloud.ufps.edu.co/"><img src="../../images/logo.png" class="d-block" alt='...' height="70px" width="70px"></div></a>
				<div id="fuente" class="col-md-5 text-white text-center"><br>	
					<a href="/poblacion"><button type="button" onclick ="" class="btn text-white" style="font-family:Gill Sans; font-size: 20px;">Poblaciones</button></a>			
					<a href="/sesionad2"><button type="button" onclick ="" class="btn text-white" style="font-family:Gill Sans; font-size: 20px;">Encuestas</button></a>
					<button type="button" class="btn text-white" style="font-family: Gill Sans; font-size: 20px;"><%= email.split('@')[0] %></button>
					
				</div>				
		</div>
	</div><br>


<div  class="container-fluid">
	<% if(menssage!=null){%>
	<%if(menssage.length>0){ %> 
		<div class="alert alert-success" role="alert"><%= menssage %></div>
	<% }} %> 
	<h1 style="color: #e20319; text-align: center;">Administrar poblaciones</h1><br>

</div>
<div>
	<div class="row ml-5 mr-5" style="text-align:center;">

		<%for(let i=0;i<poblaciones.length;++i){%>
		<div class="card" style="margin-bottom: 1%; background-color: #8885852c; width: 31%; text-align:center; margin-left: 25px;">
		  <div class="card-body">
		    <h5 class="card-title" name="nombre">Poblaci칩n <%=poblaciones[i].nombre%></h5>
		    <a href="#encuestados<%= i %> " data-toggle="modal"><button style="background-color:#918787;" type="submit" class="btn text-white">Ver</button></a>
		    <%var correos="'"%>
			<%for(let o=0;o<encuestados.length;++o){%>
				<% if(encuestados[o].id_poblacion==poblaciones[i].id_poblacion){%>
					
				<%correos+=""+encuestados[o].encuestado+","%>
				<%}%>
			<%}correos = correos.substr(0, correos.length - 1)%>
			<%correos+="'"%>
			<% var nombre="'"+poblaciones[i].nombre+"'" %>  
			<button onclick="editarpoblacion(<%=correos%>,<%=nombre%>,<%=poblaciones[i].id_poblacion%>)" style="background-color:#e20319" type="submit" class="btn text-white">Editar</button>
		  </div>
		</div><%}%>


	</div>
</div>
<br><br>
<div id="a침adiryeditar"></div>


<div class="container">
	<div class="row">
	  <div class="col-md-11 text-right"  >
			  <a class="btn-flotante"  ><button onclick="a침adirpoblacion()" id="redondo" style="background-color:#e20319" class="btn text-white"><h3>+</h3></button></a>
			</div>
	  </div>
  </div>


<br>

<br>



<%for(let i=0;i<poblaciones.length;++i){%>
	<div class="modal fade" id="encuestados<%=i%>" style="top:180px">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="model-header">
					<button tyle="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-left: 10px">&times;</button>
					<br><h3 class="modal-title" style="text-align: center">Encuestados de <%=poblaciones[i].nombre%></h3>
				</div>
				<div class="modal-body">
					<ul>
						<%for(let o=0;o<encuestados.length;++o){%>
							<% if(encuestados[o].id_poblacion==poblaciones[i].id_poblacion) {%> 
								<li><%=encuestados[o].encuestado%></li>
							<%}%>
						<% } %> 
					</ul>
				</div>
			</div>
		</div>
	</div>
	<%}%>





<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>
