<!DOCTYPE html>
<html lang="en">
<head>
	<title>Encuesta - SWEIS <%= encuesta.nombre %> 
		</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/inicio.css"/>
	
</head>
<body onload="">
	<script rel="stylesheet" type="text/javascript" src=""></script>



	<div  id="banner" class="container-fluid">
		<div class="row">
			<div class="col-md-7 text-white text-center">
				<a href="https://ingsistemas.cloud.ufps.edu.co/"><img src="../../images/logo.png" class="d-block" alt='...' height="130px" width="130px"></div></a>
				<div id="fuente" class="col-md-5 mt-4 text-white text-center"><br>	
					<a href="/poblacion"><button type="button" onclick ="" class="btn text-white" style="font-family:Impact; font-size: 20px;">Poblaciones</button></a>			
					<a href="/inicio"><button type="button" onclick ="" class="btn text-white" style="font-family:Impact; font-size: 20px;">Cat치logo de Encuestas</button></a>
						  <a href="#"><button type="button" class="btn text-white" style="font-family: Impact; font-size: 20px;">Mi cuenta</button></a>
					<a href="micuenta.html"><img src="../images/micuenta.png" class="align-right" alt='...' height="30px" width="30px"></a>
				</div>				
		</div>
	</div><br>




<div id="contenido">
	<div class="text-center">
		<b><label  id="center" style="font-family:'Helvetica'; font-weight: bold;margin: 0 auto;font-size: 28px; color:#e20319"><%=encuesta[0].nombre%></label></b><br><br>
	</div>
	
	<label style=" font-family: Times-New-Roman;font-size: 20px; margin-left: 80px; font-weight: bold;">Descripci칩n: </label>
	<label style=" font-family: Times-New-Roman;font-size: 18px;"><%=encuesta[0].objetivo%></label>

	<div class="row"> 
		<div class="col-md-4">
			<label style=" font-family: Times-New-Roman;font-size: 20px; margin-left: 80px; font-weight: bold;">Poblaci칩n: </label>
			<label style=" font-family: Times-New-Roman;font-size: 18px;"><%=encuesta[0].poblacion%></label>
		</div>
		<div class="col-md-4">
			<label style=" font-family: Times-New-Roman;font-size: 20px; font-weight: bold;">Fecha publicaci칩n: </label>
			<label style=" font-family: Times-New-Roman;font-size: 18px;"><%=encuesta[0].fecha_publicacion.toLocaleString().split(",")[0].split(" ")[0]%></label>	
		</div>
		<div class="col-md-4">
			<label style=" font-family: Times-New-Roman;font-size: 20px; font-weight: bold;">Fecha de cierre: </label>
			<label style=" font-family: Times-New-Roman;font-size: 18px;"><%=encuesta[0].fecha_cierre.toLocaleString().split(",")[0].split(" ")[0]%></label>
		</div>
	</div><br><hr><br>

	<% for(let i=0;i<preguntas.length;i++){%>
		<div class="row"> 
			<div class="col-md-8">
				<label style=" font-family: Times-New-Roman;font-size: 18px; margin-left: 80px;">Pregunta <%= i+1 %> : <%= preguntas[i].descripcion %> </label>
			</div>
			<div class="col-md-4">
				<label style=" font-family: Times-New-Roman;font-size: 20px; font-weight: bold;">Tipo de pregunta: </label>
				<label style=" font-family: Times-New-Roman;font-size: 18px;"><%=preguntas[i].tipopreg%></label>	
			</div>
		</div><div class="row" style="margin-left: 80px;"><ul>
			<%console.log(opciones.length)%>
		<%for(let o= 0; o<opciones.length;o++){%>
			<% if(preguntas[i].id_pregunta==opciones[o].id_pregunta){ %>
					  <li><%=opciones[o].opcion%></li>
			<% } %>
		<%} %> </ul></div><br><hr><br>
	<%} %> 
	<div>
		
		
	</div>
</div><br><br>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</body>
</html>